<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<mapper namespace="com.bitcamp.aura.user.dao.UserMapper">
	<insert id="insert" parameterType="UserVO">
		INSERT INTO USER_ACCOUNT (
			NICKNAME,
			EMAIL,
			PASSWORD,
			TEL,
			NAME,
			SSN,
			GENDER,
			ADDRESS,
			REG_DATE,
			REG_LOCATION,
			DEL_DATE,
			ISADMIN,
			ACCESS_TOKEN,
			REFRESH_TOKEN,
			PW_MISS_COUNT,
			AUTHOR_TYPE,
			PROFILE,
			USERID,
			AGE_RANGE
		)
		VALUES (
			#{nickname, jdbcType=VARCHAR},
			#{email, jdbcType=VARCHAR},
			#{password, jdbcType=VARCHAR},
			#{tel, jdbcType=VARCHAR},
			#{name, jdbcType=VARCHAR},
			#{ssn, jdbcType=VARCHAR},
			#{gender, jdbcType=NUMERIC},
			#{address, jdbcType=VARCHAR},
			#{regDate, jdbcType=VARCHAR},
			#{regLocation, jdbcType=NUMERIC},
			#{delDate, jdbcType=VARCHAR},
			#{isAdmin, jdbcType=NUMERIC},
			#{accessToken, jdbcType=VARCHAR},
			#{refreshToken, jdbcType=VARCHAR},
			#{pwMissCount, jdbcType=NUMERIC},
			#{authorType, jdbcType=NUMERIC},
			#{profile, jdbcType=VARCHAR},
			#{userId, jdbcType=VARCHAR},
			#{ageRange, jdbcType=NUMERIC}
		)
	</insert>
	<update id="update" parameterType="UserVO">
		UPDATE 
			USER_ACCOUNT 
		SET
			EMAIL = #{email, jdbcType=VARCHAR},
			PASSWORD = #{password, jdbcType=VARCHAR},
			TEL = #{tel, jdbcType=VARCHAR},
			NAME = #{name, jdbcType=VARCHAR},
			SSN = #{ssn, jdbcType=VARCHAR},
			GENDER = #{gender, jdbcType=NUMERIC},
			ADDRESS = #{address, jdbcType=VARCHAR},
			REG_DATE = #{regDate, jdbcType=VARCHAR},
			REG_LOCATION = #{regLocation, jdbcType=NUMERIC},
			DEL_DATE = #{delDate, jdbcType=VARCHAR},
			ISADMIN = #{isAdmin, jdbcType=NUMERIC},
			ACCESS_TOKEN = #{accessToken, jdbcType=VARCHAR},
			REFRESH_TOKEN = #{refreshToken, jdbcType=VARCHAR},
			PW_MISS_COUNT = #{pwMissCount, jdbcType=NUMERIC},
			AUTHOR_TYPE = #{authorType, jdbcType=NUMERIC},
			PROFILE = #{profile, jdbcType=VARCHAR},
			USERID = #{userId, jdbcType=VARCHAR},
			AGE_RANGE = #{ageRange, jdbcType=NUMERIC}
		WHERE
			NICKNAME = #{nickname, jdbcType=VARCHAR}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM
			USER_ACCOUNT
		WHERE
			NICKNAME = #{nickname, jdbcType=VARCHAR}
	</delete>
	<select id="selectOne" parameterType="String" resultType="UserVO">
		SELECT 
			NICKNAME AS nickname,
			EMAIL AS email,
			PASSWORD AS password,
			TEL AS tel,
			NAME AS name,
			SSN AS ssn,
			GENDER AS gender,
			ADDRESS AS address,
			REG_DATE AS regDate,
			REG_LOCATION AS regLocation,
			DEL_DATE AS delDate,
			ISADMIN AS isAdmin,
			ACCESS_TOKEN AS accessToken,
			REFRESH_TOKEN AS refreshToken,
			PW_MISS_COUNT AS pwMissCount,
			AUTHOR_TYPE AS authorType,
			PROFILE AS profile,
			USERID AS userId,
			AGE_RANGE AS ageRange
		FROM
			USER_ACCOUNT
		WHERE
			NICKNAME = #{nickname, jdbcType=VARCHAR}
			
	</select>
	<select id="selectOneUserid" parameterType="String" resultType="UserVO">
		SELECT 
			NICKNAME AS nickname,
			EMAIL AS email,
			PASSWORD AS password,
			TEL AS tel,
			NAME AS name,
			SSN AS ssn,
			GENDER AS gender,
			ADDRESS AS address,
			REG_DATE AS regDate,
			REG_LOCATION AS regLocation,
			DEL_DATE AS delDate,
			ISADMIN AS isAdmin,
			ACCESS_TOKEN AS accessToken,
			REFRESH_TOKEN AS refreshToken,
			PW_MISS_COUNT AS pwMissCount,
			AUTHOR_TYPE AS authorType,
			PROFILE AS profile,
			USERID AS userId,
			AGE_RANGE AS ageRange
		FROM
			USER_ACCOUNT
		WHERE
			USERID = #{userid}
	</select>
	<select id="selectOneEmail" parameterType="String" resultType="UserVO">
		SELECT
			NICKNAME AS nickname,
			EMAIL AS email,
			PASSWORD AS password,
			TEL AS tel,
			NAME AS name,
			SSN AS ssn,
			GENDER AS gender,
			ADDRESS AS address,
			REG_DATE AS regDate,
			REG_LOCATION AS regLocation,
			DEL_DATE AS delDate,
			ISADMIN AS isAdmin,
			ACCESS_TOKEN AS accessToken,
			REFRESH_TOKEN AS refreshToken,
			PW_MISS_COUNT AS pwMissCount,
			AUTHOR_TYPE AS authorType,
			PROFILE AS profile,
			USERID AS userId,
			AGE_RANGE AS ageRange
		FROM
			USER_ACCOUNT
		WHERE
			EMAIL = #{email, jdbcType=VARCHAR}
	</select>
	<select id="selectByParams" parameterType="java.util.HashMap" resultType="UserVO">
		SELECT
			NICKNAME AS nickname,
			EMAIL AS email,
			PASSWORD AS password,
			TEL AS tel,
			NAME AS name,
			SSN AS ssn,
			GENDER AS gender,
			ADDRESS AS address,
			REG_DATE AS regDate,
			REG_LOCATION AS regLocation,
			DEL_DATE AS delDate,
			ISADMIN AS isAdmin,
			ACCESS_TOKEN AS accessToken,
			REFRESH_TOKEN AS refreshToken,
			PW_MISS_COUNT AS pwMissCount,
			AUTHOR_TYPE AS authorType,
			PROFILE AS profile,
			USERID AS userId,
			AGE_RANGE AS ageRange
		FROM 
			USER_ACCOUNT
		WHERE 
			1 = 1 
		<if test="nickname != null">
			AND
				NICKNAME LIKE '%'||#{nickname, jdbcType=VARCHAR}||'%'
		</if>
		<if test="isDel != null">
			AND
				DEL_DATE IS NOT NULL
		</if>
	</select>
	
	<select id="selectAll" resultType="UserVO">
		SELECT
			NICKNAME AS nickname,
			EMAIL AS email,
			PASSWORD AS password,
			TEL AS tel,
			NAME AS name,
			SSN AS ssn,
			GENDER AS gender,
			ADDRESS AS address,
			REG_DATE AS regDate,
			REG_LOCATION AS regLocation,
			DEL_DATE AS delDate,
			ISADMIN AS isAdmin,
			ACCESS_TOKEN AS accessToken,
			REFRESH_TOKEN AS refreshToken,
			PW_MISS_COUNT AS pwMissCount,
			AUTHOR_TYPE AS authorType,
			PROFILE AS profile,
			USERID AS userId,
			AGE_RANGE AS ageRange
		FROM
			USER_ACCOUNT
	</select>
</mapper>