<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.bitcamp.aura.reviewlist.dao.ReviewListMapper">
	<insert id="insert" parameterType="ReviewListVO">
		insert into REVIEW_LIST values(#{postNum}, #{nickname},#{reviewType},#{date},null)
	</insert>
	<delete id="deleteByNum" parameterType="int">
	 delete from REVIEW_LIST where REVIEW_NUM=#{num}
	</delete>
	<delete id="deleteAllByParams" parameterType="ReviewListSelectParamsVO">
		
	</delete>
	

	<select id="selectByPostNum" parameterType="int" resultType="ReviewListVO">
	
	</select>
	<select id="selectByNickname" parameterType="String" resultMap="ReviewListVOMap">
	    select * from REVIEW_LIST where NICKNAME=#{nickname}
	</select>
	
	<select id="selectByParams" parameterType="ReviewListSelectParamsVO" resultMap="ReviewListVOMap">
		select * from REVIEW_LIST where REVIEW_POST_NUM=#{postNum} and REVIEW_TYPE=#{reviewType} and NICKNAME=#{nickname}
	</select>
	
	<select id="selectAllByParams" parameterType="ReviewListSelectParamsVO" resultType="ReviewListVO">
	
	</select>
	<select id="selectAll" resultType="ReviewListVO">
		select * from REVIEW_LIST
	</select>
	
	<resultMap type="ReviewListVO" id="ReviewListVOMap">
	 <result property="postNum" column="REVIEW_POST_NUM"/>
	 <result property="num" column="REVIEW_NUM"/>
	 <result property="nickname" column="NICKNAME"/>
	 <result property="reviewType" column="REVIEW_TYPE"/>
	 <result property="date" column="REVIEW_DATE"/>
	</resultMap>
</mapper>