<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.bitcamp.aura.comment.dao.CommentMapper">

	<insert id="insert" parameterType="CommentVO">
		<selectKey order="AFTER" keyProperty="comment_Num" resultType="int" >
			SELECT USER_COMMENT_SEQ.CURRVAL FROM DUAL
		</selectKey>
			INSERT INTO USER_COMMENT (
				REVIEW_POST_NUM,
				NICKNAME,
				COMMENT_CONTENTS,
				COMMENT_LIKE,
				COMMENT_SCORE,
				COMMENT_DATE,
				COMMENT_NUM
			)
			VALUES (
				#{review_Post_Num, jdbcType=NUMERIC},
				#{nickname, jdbcType=VARCHAR},
				#{comment_Contents, jdbcType=VARCHAR},
				#{comment_Like, jdbcType=NUMERIC},
				#{comment_Score, jdbcType=NUMERIC},
				#{comment_Date, jdbcType=VARCHAR},
				null
			)
	</insert>
	<insert id="insert_File" parameterType="CommentFileVO">
		INSERT INTO COMMENT_FILE (
			COMMENT_NUM,
			COMMENT_FILE
		)
		VALUES (
			#{comment_Num, jdbcType=NUMERIC},
			#{comment_File, jdbcType=VARCHAR}
		)
	</insert>
	<update id="update" parameterType="CommentVO">
		UPDATE
			USER_COMMENT
		SET
			COMMENT_CONTENTS = #{comment_contents, jdbcType=VARCHAR},
			COMMENT_LIKE = #{comment_like, jdbcType=NUMERIC},
			COMMENT_SCORE = #{comment_score, jdbcType=NUMERIC},
			COMMENT_DATE = #{comment_Date, jdbcType=VARCHAR}
		WHERE
			COMMENT_NUM = #{comment_num, jdbcType=NUMERIC}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM
			USER_COMMENT
		WHERE
			COMMENT_NUM = #{comment_num, jdbcType=NUMERIC}
	</delete>
	<select id="selectOne" parameterType="String" resultType="CommentVO">
		SELECT
			*
		FROM
			USER_COMMENT
		WHERE
			NICKNAME = #{NICKNAME, jdbcType=VARCHAR}
	</select>
	<select id="selectAll" resultType="CommentVO">
		SELECT
			*
		FROM
			USER_COMMENT
	</select>
	
	<select id="selectAllByNum" parameterType="int" resultType="CommentVO">
		SELECT
			*
		FROM
			USER_COMMENT
		WHERE
			REVIEW_POST_NUM=#{postNum} order by COMMENT_DATE
	</select>









</mapper>