<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.bitcamp.aura.comment.dao.CommentMapper">

	<insert id="insert" parameterType="CommentVO">
		INSERT INTO USER_COMMENT (
			REVIEW_POST_NUM,
			NICKNAME,
			COMMENT_CONTENTS,
			COMMENT_LIKE,
			COMMENT_SCORE,
			COMMENT_DATE,
			COMMENT_NUM
		)
		VALUES (
			#{review_post_num, jdbcType=NUMERIC},
			#{nickname, jdbcType=VARCHAR},
			#{comment_contents, jdbcType=VARCHAR},
			#{comment_like, jdbcType=NUMERIC},
			#{comment_score, jdbcType=NUMERIC},
			#{comment_Date, jdbcType=VARCHAR},
			#{comment_num, jdbcType=NUMERIC}
		)
	</insert>
	<update id="update" parameterType="CommentVO">
		UPDATE
			USER_COMMENT
		SET
			COMMENT_CONTENTS = #{comment_contents, jdbcType=VARCHAR},
			COMMENT_LIKE = #{comment_like, jdbcType=NUMERIC},
			COMMENT_SCORE = #{comment_score, jdbcType=NUMERIC},
			COMMENT_DATE = #{comment_Date, jdbcType=VARCHAR}
		WHERE
			COMMENT_NUM = #{comment_num, jdbcType=NUMERIC}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM
			USER_COMMENT
		WHERE
			COMMENT_NUM = #{comment_num, jdbcType=NUMERIC}
	</delete>
	<select id="selectOne" parameterType="String" resultType="CommentVO">
		SELECT
			*
		FROM
			USER_COMMENT
		WHERE
			NICKNAME = #{NICKNAME, jdbcType=VARCHAR}
	</select>
	<select id="selectAll" resultType="CommentVO">
		SELECT
			*
		FROM
			USER_COMMENT
	</select>









</mapper>